# See README for more info about these settings

splunkforwarder:

### --> begin mutually exclusive
### EITHER: use your own custom package repository:

  package:
    name: your-custom-splunkforwarder-package
    repo: your-custom-repo-name
    version: optional-specific-version-number

### OR: download the package file directly and install it:

  version: 6.2.0
  package_filename: splunkforwarder-6.2.0-237341-linux-2.6-amd64.deb
  source_hash: sha256=8336952b317f9a9bdf7f47358d66b823948fabccbf46de6695d0d6560f5a4ee3
  download_base_url: http://your.domain.com/downloads/

### <-- end mutually exclusive

  # It's recommended to disable port 8089 in forwarder
  disable_management_port: True

  cert_filename: selfsignedcert.pem

### --> begin mutually exclusive
### EITHER: use your own heavy forwarder:

  intermediate: True
  forward_servers:
    - 1.2.3.4:9998
    - 1.2.4.5:9998

### OR: use splunkcloud directly:

  splunkcloud:
    # This will be saved to $SPLUNK_HOME/etc/apps/$prefix$instance_splunkcloud
    enabled: True
    instance: (your instance name, e.g. mycompany)
    prefix: 100_
    local:
      # first level will be the file name
      outputs.conf:
        'tcpout:splunkcloud':
          sslPassword: (the password embedded in your downloaded .spl file)
    default:
      # again, first level is the filename
      limits.conf:
        thruput:
          maxKBps: 256
      outputs.conf:
        tcpout:
          defaultGroup: splunkcloud
        'tcpout:splunkcloud':
          server:
            - inputs1
            - inputs2
            #  ...
          compressed: '"false"'
          # these are example names, you shoudl change to match the ones for your instance
          sslCertPath: "$SPLUNK_HOME/etc/apps/$prefix$instance_splunkcloud/default/$instance_server.pem"
          sslRootCAPath: "$SPLUNK_HOME/etc/apps/$prefix$instance_splunkcloud/default/$instance_cacert.pem"
          sslCommonNameToCheck: "*.$instance.splunkcloud.com"
          sslVerifyServerCert: '"true"'
          useClientSSLCompression: '"true"'
      mycertificate.pem:
        # useful for certificates, use contents:
        contents: |
          -----BEGIN CERTIFICATE-----
          MIID2jCCA0MCAg39MA0GCSqGSIb3DQEBBQUAMIGbMQswCQYDVQQGEwJKUDEOMAwG
          A1UECBMFVG9reW8xEDAOBgNVBAcTB0NodW8ta3UxETAPBgNVBAoTCEZyYW5rNERE
          MRgwFgYDVQQLEw9XZWJDZXJ0IFN1cHBvcnQxGDAWBgNVBAMTD0ZyYW5rNEREIFdl
          YiBDQTEjMCEGCSqGSIb3DQEJARYUc3VwcG9ydEBmcmFuazRkZC5jb20wHhcNMTIw
          ODIyMDUyODAwWhcNMTcwODIxMDUyODAwWjBKMQswCQYDVQQGEwJKUDEOMAwGA1UE
          CAwFVG9reW8xETAPBgNVBAoMCEZyYW5rNEREMRgwFgYDVQQDDA93d3cuZXhhbXBs
          ZS5jb20wggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIKAoICAQCwvWITOLeyTbS1
          Q/UacqeILIK16UHLvSymIlbbiT7mpD4SMwB343xpIlXN64fC0Y1ylT6LLeX4St7A
          cJrGIV3AMmJcsDsNzgo577LqtNvnOkLH0GojisFEKQiREX6gOgq9tWSqwaENccTE
          sAXuV6AQ1ST+G16s00iN92hjX9V/V66snRwTsJ/p4WRpLSdAj4272hiM19qIg9zr
          h92e2rQy7E/UShW4gpOrhg2f6fcCBm+aXIga+qxaSLchcDUvPXrpIxTd/OWQ23Qh
          vIEzkGbPlBA8J7Nw9KCyaxbYMBFb1i0lBjwKLjmcoihiI7PVthAOu/B71D2hKcFj
          Kpfv4D1Uam/0VumKwhwuhZVNjLq1BR1FKRJ1CioLG4wCTr0LVgtvvUyhFrS+3PdU
          R0T5HlAQWPMyQDHgCpbOHW0wc0hbuNeO/lS82LjieGNFxKmMBFF9lsN2zsA6Qw32
          Xkb2/EFltXCtpuOwVztdk4MDrnaDXy9zMZuqFHpv5lWTbDVwDdyEQNclYlbAEbDe
          vEQo/rAOZFl94Mu63rAgLiPeZN4IdS/48or5KaQaCOe0DuAb4GWNIQ42cYQ5TsEH
          Wt+FIOAMSpf9hNPjDeu1uff40DOtsiyGeX9NViqKtttaHpvd7rb2zsasbcAGUl+f
          NQJj4qImPSB9ThqZqPTukEcM/NtbeQIDAQABMA0GCSqGSIb3DQEBBQUAA4GBAIAi
          gU3My8kYYniDuKEXSJmbVB+K1upHxWDA8R6KMZGXfbe5BRd8s40cY6JBYL52Tgqd
          l8z5Ek8dC4NNpfpcZc/teT1WqiO2wnpGHjgMDuDL1mxCZNL422jHpiPWkWp3AuDI
          c7tL1QjbfAUHAQYwmHkWgPP+T2wAv0pOt36GgMCM
          -----END CERTIFICATE-----



### <-- end mutually exclusive

  system:
    inputs:
      monitor:
        mysql-slow:
          monitor: /var/log/mysql/mysql-slow.log
          index: database
          sourcetype: mysql_slow
  inputs:
    monitor:
      nginx-access-log:
        monitor: /var/log/nginx/access.log
        index: search
        sourcetype: nginx_access_log
      nginx-error-log:
        monitor: /var/log/nginx/error.log
        index: search
        sourcetype: nginx_error_log

  props:
    mysql_slow:
      pulldown_type: 'true'
      category: 'Database'
      description: 'Mysql Slow Query Logs'
      BREAK_ONLY_BEFORE: '^#\s*User@Host'

  # It's recommended to limit to localhost connections in management port 8089
  server:
    httpServer:
      acceptFrom: "127.0.0.1"


splunk:
  secret: your shared splunk secret
  password:
    outputs.conf: your (preferably encrypted) password
    inputs.conf: your (preferably encrypted) password
  self_cert_filename: selfsignedcert.pem
  certs:
    cacert.pem:
      content: put your cert content here
    selfsignedcert.pem:
      content: put your cert content here
